@charset "UTF-8";
body, html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family:"Lato", sans-serif;
	font-weight:400;
	line-height:1.8em;
	color:#666;
}
.pimg1, .pimg2, .pimg3{
	position: relative;
	opacity:0.70;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	
	background-attachment:fixed;
}

.pimg1{
    background-image: url(images/france-2773030_1920.jpg);
	min-height: 100%;
}

.pimg2{
    background-image: url(images/surgery.jpg);
    min-height: 800px;
}

.pimg3{
    background-image: url(images/protest.jpg);
	min-height: 100%;
}
.pimg4 {
	background-image: url(images/ally.jpg);
	min-height: 100%;
}

.pimg5 {
	background-image: url(images/camp.jpg);
	min-height: 800px;
}

.section{
	text-align:center;
	padding:50px,80px;
}

.section-light{
	background-color:#f4f4f4;
	color:#666
}

.section-dark{
	background-color:#282e34;
	color:#ddd;
}

.ptext{
	position:absolute;
	top:50%;
	width:100%;
	text-align:center;
	color:#000;
	font-size: 17px;
	letter-spacing: 8px;
	text-transform:uppercase;
}

.ptext .border{
	background-color:#111;
	color:#fff;
	padding:20px;
}
p {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

@media(max-width:568px){
	.pimg1, .pimg2, .pimg3{
		background-attachment:scroll;
	}
}
